@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

.D1 {
  height: 90vh;
  width: 100%;
  padding-top: 10vh;
  /* background-color: #ba181b; */
  /* text-align: center; */
  background-image: url("assets/bg2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.D1 p {
  font-size: 35px;
  font-family: "Bebas Neue", cursive, sans-serif;
  padding: 30px;
  color: #d3d3d3;
}

.D2 {
  height: 50vh;
  width: 100%;
  background-color: #ba181b;
  color: #d3d3d3;
  font-family: "Bebas Neue", cursive, sans-serif;
}

h1 {
  padding: 35px 75px;
  font-weight: lighter;
}

.D2 div {
  font-size: 25px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.D2 div ul {
  padding: 0px 100px;
}

.D2 div ul li {
  transition-timing-function: ease-in;
  transition-duration: 0.1s;
}

.D2 div ul li:hover {
  color: aliceblue;
  font-size: 35px;
}

.D3 {
  height: 100vh;
  width: 100%;
  background-image: url("assets/bg3.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
  /* background-color: #0b090a; */
  color: #d3d3d3;
  font-family: "Bebas Neue", cursive, sans-serif;
}

.D3 h1 {
  font-size: 70px;
}

.D3 a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 40px;
  transition: 0.5s ease-in;
}

.D3 a:hover {
  color: #e5383b;
  font-size: 50px;
}

nav {
  background-color: #161a1d;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", cursive, sans-serif;
  font-size: 40px;
  color: #b1a7a6;
  position: fixed;
}

.navlink {
  text-decoration: none;
  color: #b1a7a6;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.navlink:hover {
  font-weight: 900;
  font-size: 22px;
  color: aliceblue;
}

.logo {
  height: 100%;
}

nav ul {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

nav ul li {
  padding-left: 30px;
}

.D4 {
  height: 75vh;
  width: 100%;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d3d3d3;
  font-size: 40px;
  /* font-family: "Bebas Neue", cursive, sans-serif; */
  font-family: "Ubuntu", sans-serif;
}

.logo1 {
  height: 50%;
  padding: 20px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-family: "Bebas Neue", cursive, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}



.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}


.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #30e15c;
  color: #ffffff;
}
